<html xmls:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sample</title>
    <th:block th:replace="fragments/nav :: fragment-nav"></th:block>
  </head>
  <body>
    <h1 th:text="${text}"></h1>
    <div id="map" style="width: 900px; height: 600px"></div>
  </body>
  <!--<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e8b25b63bf85281915cc08d82dc670fa"></script>-->
  <script type="text/javascript" th:inline="javascript">
    console.log("hello");
  </script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e8b25b63bf85281915cc08d82dc670fa&libraries=services"></script>
  <script type="text/javascript" src="/js/kakao_map.js"></script>
</html>
