<html xmls:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/sample.css}" rel="stylesheet" />
    <title>Sample</title>
    <th:block th:replace="fragments/nav :: fragment-nav"></th:block>
  </head>
  <body>
    <h1 th:text="${text}"></h1>
    <div class="container">
      <div id="map" style="width: 900px; height: 600px" class=""></div>
      <div class="box">
        <h2 class="address"></h2>
        <div id="weather">
          <span></span>
          <span></span>
        </div>
        <button class="openBtn hidden">후기 등록</button>
        <div class="modal hidden">
          <div class="bg"></div>
          <div class="modalBox">
            <p>후기를 남겨주세요</p>
            <input type="text" />
            <button>ok</button>
            <span class="star">
              ★★★★★
              <span>★★★★★</span>
              <input type="range" oninput="drawStar(this)" value="1" step="1" min="0" max="10" />
            </span>
            <button class="closeBtn">x</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!--<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e8b25b63bf85281915cc08d82dc670fa"></script>-->
  <script type="text/javascript" th:inline="javascript">
    console.log("hello");
  </script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e8b25b63bf85281915cc08d82dc670fa&libraries=services"></script>
  <script type="text/javascript" src="/js/kakao_map.js"></script>
  <script type="text/javascript" src="/js/modal.js"></script>
</html>
